@import "adtrak/adtrak";


.atk-table.atk-table__logger {
    > thead > tr > th,
    > tbody > tr > td {
        padding: 0.8rem;
    }
}

.al-th__date {
    width: 80px;
}

.al-th__type {
    width: 140px;
}

.al-th__ip {
    width: 90px;
}

form.al-filters {
    display: flex;
    margin-bottom: 15px;

    div {
        width: 150px;
        margin-right: 10px;
    }

    label, select {
        width: 100%;
        display: block;
    }

    .atk-button {
        padding: 9px 20px
    }
}
